body {
    overflow: hidden;
}


#map {
    width: 100%;
    z-index: 1;
}


.container {
    position: absolute;
    margin: auto;
    left: 25px;
    top: -10px;
    /* width: 99%; */
    height: 100px;
    vertical-align: top;
}

.container .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: rgb(255, 177, 51);
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.container .search:hover {
    cursor: pointer;
}

.container .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 20px;
    width: 10px;
    height: 2px;
    background: rgb(104, 28, 28); /* 검색버튼에 있는 작대기*/
    transform: rotate(45deg);
    transition: all .5s;
}

.container .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgb(104, 28, 28); /* 검색버튼에 있는 동그라미*/
    transition: all .5s;
    color: black;
}

.container .search-result {
    position: absolute;
    margin: auto;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 10px;
    width: 240px;
    height: 50px;
    background: rgba(255, 177, 51, 0.54);
    /*border-radius: 50%;*/
    transition: all 1s;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    z-index: 3;
    font-family: 'NanumGothic', '나눔고딕', monospace;
}

.container input {
    font-family: 'NanumGothic', '나눔고딕', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 30px;
    outline: none;
    border: none;
    background:  rgb(255, 177, 51);
    color: rgb(104, 28, 28); /* 검색어 색 */
    text-shadow: 0 0 10px rgb(255, 177, 51);
    padding: 0 0 0 15px;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgb(255, 177, 51), 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

.container input:hover {
    cursor: pointer;
}

.container input:focus {
    width: 270px;
    opacity: 1;
    cursor: text;
}

.container input:focus~.search {
    right: -540px;
    background: rgb(255, 177, 51); /* 검색 둥근 버튼 눌렀을때*/
    z-index: 6;
}

.container input:focus~.search::before {
    top: 0;
    left: 0;
    width: 25px;
}

.container input:focus~.search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: rgb(104, 28, 28);
    border-radius: 0%;
    transform: rotate(-45deg);
}

.container input::placeholder {
    color: rgb(104, 28, 28);
    opacity: 0.5;
    font-weight: bolder;
}

.result-item {
    font-family: 'NanumGothic', '나눔고딕', monospace;
}

.result-item span {
    font-size: 0.5em;
}

.result-item p{
    margin-bottom: -0.4em;
}


.top-bar .logo {
    right: 25px;
    position: absolute;
    top: 22px;
    z-index: 4;
}


/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:105%;
    position:fixed;
    text-align:center;
    top:0;
    width:105%;
    margin: -20px;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box END */

.float{
	position:fixed;
	width:40px;
	height:40px;
	bottom:1.5em;
	background-color: rgba(0,0,0,0);
	color:#FFF;
    border-radius:20px;
    background: transparent;
    border: none !important;
	text-align:center;
    box-shadow: 2px 2px 3px rgba(0,0,0,0);
    z-index: 5;
}

.float img{
    position: relative;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    font-size: 7px;
}

.intro_text {
    font-family: 'NanumGothic', '나눔고딕', 'Noto Sans CJK','함초롱바탕','맑은 고딕', monospace;
    line-height: 1.3em;
    word-spacing: -1px;
}

.l1 {
    font-size: 3em;
    list-style-image: url('https://tagopa.ksjit.com/tagopa/img/route.svg');
}
.l2 {
    font-size: 3em;
    list-style-image: url('https://tagopa.ksjit.com/tagopa/img/search.svg');
}
.l3 {
    font-size: 3em;
    list-style-image: url('https://tagopa.ksjit.com/tagopa/img/reset.svg');
}

li span {
    font-size: 0.33em;
}